@import url('crimson/crimson.css');

font-serif = 'crimson', serif;
font-sans = 'source-sans-pro', sans-serif;
font-small-caps = 'alegreya-sc';
font-cursive = 'alex-brush';

color-muted = #555;

transition(args...) {
    -webkit-transition: args;
    -moz-transition: args;
    -ms-transition: args;
    -o-transition: args;
    transition: args;
}

body {
  font-family: font-serif;
  font-size: 18px;
  background: #F9FAF5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: font-sans;
}

#header {
  background: #F6F6DE;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  z-index: 10000;
  
  h1 {
    position: absolute;
    left: 1rem;
    bottom: 0;
    font-family: font-cursive;
    font-weight: 400;
    font-size: 3em;
    line-height: 3rem;
    margin: 0;
    display: inline-block;
    width: 21rem;
  }
}

#mainnav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      a:link, a:visited, a:hover, a:active {
        display: inline-block;

        font-family: font-sans;
        text-decoration: none;
        color: color-muted;

        transition: background-color 400ms ease-out;
      }

      a:hover {
        background: lighten(color-muted, 90%);
      }
    }
  }
}

main {
  position: absolute;
  top: 8rem;
  left: 1rem;
  right: 1rem;
  z-index: 1000;

  #footer {
    padding: 3em 1em;
    color: color-muted;
  }
}

.article {
  width: calc(100% - 2em);
  max-width: 58rem;
  margin: 0 auto;
  padding: 1em;

  font-size: 1.1em;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  background: #F9FAF5;

  header {
    h1 {
      font-weight: 300;
      font-size: 3em;
      margin: 0;
      color: skyblue;
    }
  }

  h2,h3,h4,h5,h6 {
    color: skyblue;
    font-weight: 400;
  }

  p {
    line-height: 1.4em;
  }

  >p:first-of-type, hr+p {
    &::first-line {
      /* -moz-font-feature-settings: "smcp" 1;  */
      /* -moz-font-feature-settings: "smcp=1";  */
      /* -ms-font-feature-settings: "smcp" 1;  */
      /* -o-font-feature-settings: "smcp" 1;  */
      /* -webkit-font-feature-settings: "smcp" 1;  */
      /* font-feature-settings: "smcp" 1; */
      font-family: font-small-caps;
      font-size: 1.2em;
    }

    &::first-letter {
      float: left;
      color: skyblue;
      font-size: 4em;
      line-height: 0.8em;
      padding-right: 0.03em;
    }
  }

  blockquote {
    margin: 1em 4em;

    border: 3px solid color-muted;
    border-left: 0;
    border-right: 0;
    
    p {
      color: color-muted;
      font-style: italic;
      font-size: 1.5em;
      margin: 0.5em 0;
    }

    p:first-child:before {
      content: "“";
      font-size: 4em;
      float: left;
      color: skyblue;
      line-height: 1em;
      padding-right: 0.1em;
    }
  }
}

/** Layout **/

/* Mobile Only */
@media screen and (max-device-width: 1279px) {
  .welcome {
    display: none;
  }
}


/* Desktop Only */
@media screen and (min-device-width: 1280px) {
  .welcome {
    display: block;
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    z-index: 0;

    font-family: font-cursive;

    color: lighten(color-muted, 70%);

    span {
      display: block;
      font-size: 4em;
      margin: 0.5em 1em;
    }

    span:nth-child(2n) {
      text-align: right;
    }

    span:first-of-type {
      font-family: font-serif;
    }
  }

  #mainnav {
    position: absolute;
    right: 0;
    bottom: 0;
    ul {
      font-size: 0;
      li {
        display: inline-block;

        a:link, a:visited, a:hover, a:active {
          font-size: 1.5rem;
          height: 100%;
          padding: 0 0.5em;
        }
      }
    }
  }
}