<article id="content" class="nopadding about">
  <header>
    <div class="shadow"></div>
    <nav>
      <a href="mailto:li.davidm96@gmail.com" title="Email David" class="button button-circle email"><i class="fa fa-envelope"></i></a>
      <a href="https://github.com/lidavidm" title="Github profile" class="button button-circle github"><i class="fa fa-github"></i></a>
      <a href="https://plus.google.com/+DavidLi96" title="Google+ profile" class="button button-circle gplus"><i class="fa fa-google-plus"></i></a>
    </nav>
    <h1>$title$</h1>
  </header>

  <article class="padded">
    $body$
  </article>
</article>
