@import url(crimson/stylesheet.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  background: #FFFFEF;
}

header {
  color: #FFF;
  background: #3B5526;
  text-align: right;
}

div#logo a {
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
  font-size: 2em;
  padding: 1rem;
}

header #navigation a:link, header #navigation a:visited, header #navigation a:hover, header #navigation a:active {
  color: #FFF;
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

header #navigation a:hover {
  background: #81B953;
}

header #navigation a:active {
  background: #002200;
}

main {
  font-family: "crimson";
}

footer {
  text-align: center;
  color: #DDD;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

h1 {
}

h2 {
}

div.info {
  color: #555;
  font-size: 0.8em;
  font-style: italic;
}

/* Mobile phones */
@media (max-device-width: 767px) {
  header {
  }

  div#logo {
    background: #3B5526;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5rem;
    z-index: 10000;
  }

  #mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5rem;
    border: 0;
    padding: 0 0.25em;
    margin: 0;
    background: #002200;
    text-transform: uppercase;
    color: inherit;
  }

  div#logo a {
    font-size: 1.25em;
    line-height: 2.5rem;
    height: 2.5rem;
    font-weight: 400;
    padding-right: 0.25em;
  }

  header #navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: all 750ms ease-out;
    -moz-transition: all 750ms ease-out;
    -ms-transition: all 750ms ease-out;
    -o-transition: all 750ms ease-out;
    transition: all 300ms ease-out;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  header #navigation nav {
    position: absolute;
    top: 50%;
    left: 1em;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header #navigation a {
    clear: both;
    height: 3rem;
  }

  header #navigation a:hover, header #navigation a:active {
    background: none;
  }

  header #navigation a i, header #navigation a span {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    float: left;
    text-align: center;
  }

  header #navigation a i {
    font-size: 1.75rem;
    width: 3rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
  }

  header #navigation a:nth-child(1) i {
    color: #0077AA;
  }

  header #navigation a:nth-child(2) i {
    color: #AA7700;
  }

  header #navigation a:nth-child(3) i {
    color: #7700AA;
  }

  header #navigation a:nth-child(4) i {
    color: #77AA00;
  }

  header #navigation a span {
    padding-left: 0.5em;
  }

  main {
    margin: 0.5em;
    padding-top: 1.75rem;
  }

  pre.sourceCode {
    overflow-y: auto;
  }

  footer {
    display: none;
  }

  .lcol {
  }

  .rcol {
  }
}

/* Tablet and desktop */

@media (min-device-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20em;
  }

  #mobile-menu {
    display: none;
  }

  header #navigation {
    padding-top: 1em;
  }

  header #navigation a i {
    display: none;
  }

  main {
    position: absolute;
    top: 0;
    left: 21em;
    width: 54em;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 20em;
  }

  .lcol {
    float: left;
    width: 28em;
  }

  .rcol {
    float: right;
    width: 26em;
  }
}