---
layout: base
---

<div class="col-md-8">
  {{ content }}

  <h2>Articles</h2>
  <p>Want to learn more? Check out these posts:</p>
  <ul class="posts-list">
    {% for post in site.posts %}
    {% if post.tags and post.tags[0] != 'patents' %}
    {% continue %}
    {% endif %}
    <li> <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>

      {{ post.excerpt }}

      <p><a href="{{ post.url }}">Read More…</a> </p>
    </li>
    {% endfor %}
  </ul>
  <ul class="posts-list">
    Articles from around the web:

    {% for post in site.patent_articles %}
    <li> <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>

      <p>{{ post.summary }}</p>

    </li>
    {% endfor %}
</ul>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">About Me</h3>
    </div>
    <div class="panel-body">
      <div class="g-person" data-href="//plus.google.com/112898427768461421869" data-layout="landscape" data-rel="author"></div>

      <script type="text/javascript">
        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
      <p>I’m a high school senior at Basha High School in Chandler,
      Arizona. This is my website for my senior project, which aims to
      educate the rest of us on the effects of software patents.</p>
    </div>
  </div>
</div>
